@CHARSET "UTF-8";
.formbox{padding:1.5em;}
.tips{}


/*圆角*/
.corner-all-1{
	-webkit-border-radius: .1em;
	border-radius: .1em;
}
.corner-all-2{
	-webkit-border-radius: .2em;
	border-radius: .2em;
}
.corner-all-3{
	-webkit-border-radius: .3em;
	border-radius: .3em;
}
.corner-all-6{
	-webkit-border-radius: .6em;
	border-radius: .6em;
}
.corner-all-4{
	-webkit-border-radius: .4em;
	border-radius: .4em;
}
.corner-all-8{
	-webkit-border-radius: .8em;
	border-radius: .8em;
}
.corner-all-10{
	-webkit-border-radius: 1em;
	border-radius: 1em;
}
/*margin属性*/
.mr-tb-10{margin:1em 0em;}
.mr-tb-5{margin:.5em 0em;}
/*标签*/
.lb_title{line-height: 1.8em;font-size:1.2em;display: inline-block;margin:0.5em 0em;}
/*阴影*/
.us {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3)
}
.us1 {
	-webkit-box-shadow: 0 1px 4px rgba(120, 120, 120, .3);
	box-shadow: 0 1px 4px rgba(120, 120, 120, .3)
}


.us-input-focus{
	-moz-box-shadow:0 0 12px #387bbe;-webkit-box-shadow:0 0 12px #387bbe;box-shadow:0 0 12px #387bbe;
}
.us-input{
	-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
}
.us-i {
	-webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4);
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, .4)
}
/*边框*/
.uba
{
	border:1px solid;
	
}
.uba1
{
	border:2px solid;	
}
.uba2
{
	border:3px solid;	
}

.ubt
{
	border-top:1px solid;
}
.ubb
{
	border-bottom:1px solid;
}

.ubl
{
	border-left:1px solid;
}

.ubr
{
	border-right:1px solid;
}
/*表单属性*/

.iptbox{padding: 0.4em;border:1px solid #ccc;margin:0 auto;}
.ipt{height: 1.8em;font-size:1.2em;line-height: 1.2em; padding:0.2em;width:100%;border: 0;box-sizing: border-box;background: transparent none;outline: 0!important;}
.ipt-textarea{font-size:1em;line-height: 1.4em; padding:0.2em;width:100%;border: 0;box-sizing: border-box;background: transparent none;outline: 0!important;}

.c-m1
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6) ), color-stop(50%, rgba(255,255,255,0.2) ),color-stop(51%, rgba(255, 255, 255, 0) ), to(rgba(255, 255, 255, 0) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%) ; 	
}
.c-m2
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4)),to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,  rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%) ; 	
}
.c-m3
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4) ), color-stop(50%, rgba(255,255,255,0) ), to(rgba(255, 255, 255, 0.4) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 50%,  rgba(255,255,255,0.4) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 50%,  rgba(255,255,255,0.4) 100%);
}
.c-m4
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0) ), color-stop(50%, rgba(255,255,255,0.4) ), to(rgba(255, 255, 255, 0) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,  rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%,  rgba(255,255,255,0) 100%);
}
.c-m5
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4) ), color-stop(8%, rgba(255,255,255,0.2) ),color-stop(9%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 8%,rgba(255,255,255,0.1) 9%,  rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 8%,rgba(255,255,255,0.1) 9%,  rgba(255,255,255,0) 100%);
}

.c-m6
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.35) ), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.35) 0%,  rgba(0,0,0,0) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0.35) 0%,  rgba(0,0,0,0) 100%);
}
.c-m7
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0) ), to(rgba(0, 0, 0, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,  rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,  rgba(0,0,0,0.2) 100%);
}
.c-m8
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.2) ), color-stop(50%, rgba(0,0,0,0)), to(rgba(0, 0, 0, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.2) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(20,0,0,0) 50%,rgba(0,0,0,0.2) 100%);
}
.c-m9
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0) ), color-stop(50%, rgba(0,0,0,0.2) ), to(rgba(0, 0, 0, 0)));	
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(20,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
}
.c-m10
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0) ), color-stop(91%, rgba(0,0,0,0.1) ),color-stop(92%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 91%,rgba(0,0,0,0.2) 92%,rgba(0,0,0,.4) 100%);
	background-image: linear-gradient(top, rgba(0,0,0,0) 0%,rgba(20,0,0,0.1) 91%,rgba(0,0,0,0.2) 92%,rgba(0,0,0,0.4) 100%);
}
.c-m11
{
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
-webkit-background-size: 0.44em 100%;
background-size: 0.44em 100%
}
.c-m12
{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.2) ), color-stop(49%, rgba(255,255,255,0.1) ),color-stop(50%, rgba(255, 255, 255, 0) ), to(rgba(255, 255, 255, 0) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,   rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,   rgba(255,255,255,0) 100%);
}
.c-base{
	background-color: #fff;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff));
	background-image: -webkit-linear-gradient(top,#fff,#fff);
	background-image: linear-gradient(to bottom,#fff,#fff);
}

.c-ml-f1{

	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
	background-image: -webkit-linear-gradient(#fff,#f1f1f1);
	background-image: -moz-linear-gradient(#fff,#f1f1f1);
	background-image: -ms-linear-gradient(#fff,#f1f1f1);
	background-image: -o-linear-gradient(#fff,#f1f1f1);
	background-image: linear-gradient(#fff,#f1f1f1);
}
.c-bla
{
	background-color:#000;
}
.c-red
{
	background-color:#EB0000;
}

.c-blu
{
	background-color:#486A9A;
}
.c-blu1
{
	background-color:#4A8DDB;
}
.c-blu2
{
	background-color:#05B0DE;
}
.c-wh
{
	background-color:#FFF;
}

.c-gra
{
	background-color:#E6E6E6;
}
.c-org
{
	background-color:#ED7D00;
}
.c-pink
{
	
	background-color:#EA6D8D;
}
.c-org1
{
	background-color:#F6EDDC;
}

.t-wh
{
	color:white;
}
.t-333
{
	color:#333;
}

.t-bla
{
	color:black;
}

.t-gra{
	color:#838695;
}

.t-blu
{
	color:#385487;
}
.t-yel
{
	color:#FFF6C4;	
}
.t-org
{
	color:#E69329;
}
.b-bla
{
	border-color:black
}
.b-wh
{
	border-color:white
}
.b-gra
{
	border-color:#ABABAB;
}
.b-blu
{
	border-color:#112E87;
}
.b-org
{
	border-color:#ED7D00;
}

/*扩展*/
.b-ccc{border-color: #ccc;}
.c-f1{background-color: #f1f1f1;}
.c-eee{background-color: #eee;}
.c-wifiadv{background-color: #F27935;}

.loginbox{
	border-top:3px solid #E6E6E6;
	border-bottom:3px solid #E6E6E6;
	background-color: #f2f2f2;
	padding: 0.5em;
}
.loginbtn{
	display:block;
	border:1px  solid #e6e6e6;
	height: 3em;
	width:4em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6) ), color-stop(50%, rgba(255,255,255,0.2) ),color-stop(51%, rgba(255, 255, 255, 0) ), to(rgba(255, 255, 255, 0) ));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%);
	background-image: linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 51%, rgba(255,255,255,0) 100%) ; 	
	background-color:#fefefe;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	color:#D89223;
	line-height: 3em;
	font-size:1em;
	
}
/*按钮*/
.btn_base{
	text-shadow: none;
	text-align: center;
	text-decoration: none;
	-webkit-appearance: none;
	display: inline-block;
	line-height: 2em;
	height:2em;
	font-size: 1.5em;
	padding: 0;
	width:100%;
}
.btn_base:hover{color:#fff;}
.btn_base2{
	text-shadow: none;
	text-align: center;
	text-decoration: none;
	-webkit-appearance: none;
	display: inline-block;
	line-height: 2em;
	height:2em;
	font-size: 1.5em;
	padding: 0;
	width:100%;
}
.btn_bg_b{
	color: #fff;
	background-color: #202020;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2f2f2f),to(#202020));
	background-image: -webkit-linear-gradient(top,#2f2f2f,#202020);
	background-image: linear-gradient(to bottom,#2f2f2f,#202020)
}
.btn_bg_g{
	color: #fff;
	background-color: #2EC235;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#54DD5B),to(#2EC235));
	background-image: -webkit-linear-gradient(top,#54DD5B,#2EC235);
	background-image: linear-gradient(to bottom,#54DD5B,#2EC235)
}
.ugbox{
	display: -webkit-box;
	display: box;
}
.boxv{-webkit-box-orient: vertical;box-orient: vertical;}
.boxh{-webkit-box-orient: horizontal;box-orient: horizontal;}
.ugbox-son{
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1;
	padding:0.5em;
}
.smsbox{font-size:1.4em;line-height: 1.8em;color:red;padding:0 0.5em;}
.boxf1{-moz-box-flex:1.0; /* Firefox */-webkit-box-flex:1.0; /* Safari 和 Chrome */box-flex:1;}
.boxf2{-moz-box-flex:2.0; /* Firefox */-webkit-box-flex:2.0; /* Safari 和 Chrome */box-flex:2;}
.boxf3{-moz-box-flex:3.0; /* Firefox */-webkit-box-flex:3.0; /* Safari 和 Chrome */box-flex:3;}
.tips{

}
.onError{
	line-height: 2em;
	height:2em;
	text-align: center;
	color:#fff;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: #ffbe24;
}
.onSuccess{
	line-height: 2em;
	text-align: center;
	color:#fff;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	background-color: green;
}
.onErrorRed{
	line-height: 2em;
	text-align: center;
	color:#fff;
	-webkit-border-radius: 0.4em;
	border-radius:0.4em;
	background-color: red;
}
.loading{
	margin:1em auto;
	display:block;
	width:6em;
	height:6em;
	background-image:url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	
}
.loadtext{font-size:1em;line-height: 1.8em;color:#747373;}
.blockdiv{display: block;height: 5em;}