@CHARSET "UTF-8";
@media screen and (min-width: 320px) {
	.headtitle{margin:0 auto;width:280px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:320px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:320px;}
	.focus img{ width:320px;height:233.3px;}
	.bbox{width:320px;}
	.boxcontent{margin: 20px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:80px;height: 110px;display: block;text-align: center;}
	.btnbox img{margin-top: 10px; width: 70px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}
@media screen and (min-width: 360px) {
	.headtitle{margin:0 auto;width:280px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:360px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:360px;}
	.focus img{ width:360px;height:233.3px;}
	.bbox{width:360px;}
	.boxcontent{margin: 5px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:100px;height: 140px;display: block;text-align: center;}
	.btnbox img{margin-top: 10px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}
@media screen and (min-width: 400px) {
	.headtitle{margin:0 auto;width:300px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:400px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:400px;}
	.focus img{ width:414px;height:240px;}
	.bbox{width:400px;}
	.boxcontent{margin: 20px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:110px;height: 140px;display: block;text-align: center;}
	.btnbox img{margin-top: 5px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}
@media screen and (min-width: 480px) {
		.headtitle{margin:0 auto;width:420px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:480px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:480px;}
	.focus img{ width:480px;height:320px;}
	.bbox{width:480px;}
	.boxcontent{margin: 20px;min-height: 320px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:130px;height: 140px;display: block;text-align: center;}
	.btnbox img{margin-top: 10px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}
@media screen and (min-width: 560px) {
		.headtitle{margin:0 auto;width:420px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:560px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:560px;}
	.focus img{ width:560px;height:320px;}
	.bbox{width:560px;}
	.boxcontent{margin: 20px;min-height: 320px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:150px;height: 150px;display: block;text-align: center;}
	.btnbox img{margin-top: 10px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}

@media screen and (min-width: 640px) {
		.headtitle{margin:0 auto;width:580px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:640px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:640px;}
	.focus img{ width:640px;height:426.7px;}
	.bbox{width:640px;}
	.boxcontent{margin: 20px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:180px;height: 140px;display: block;text-align: center;}
	.btnbox img{margin-top: 10px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}
@media screen and (min-width: 760px) {
		.headtitle{margin:0 auto;width:720px;}
	.font20{font-size:20px;}
	.font18{font-size:18px;}
	.font16{font-size:16px;}
	.font14{font-size:18px;}
	.mainbox{width:760px;margin: 0 auto;}
	.wifinote{width:100%;text-align: center;display: block;height: 50px;line-height: 50px;background-color: #fff;}
	.focus{width:760px;}
	.focus img{ width:760px;height:506.7px;}
	.bbox{width:760px;}
	.boxcontent{margin: 20px;}
	.boxcontent a{float:left;display: inline;margin: 5px;}
	.btnbox{width:110px;height: 140px;display: block;text-align: center;}
	.btnbox img{margin-top: 10px;}
	.btntitle{line-height: 40px;height: 40px;}
	.footer{width:100%;text-align: center;line-height: 50px;}
}