@CHARSET "UTF-8";
body{ color:#4d4d4d; background:#fdfdfd}
a{ color:#72bb33}
a:hover{color:#336e00}
.bgC{ background:#72bb33}
.bgC_gray{ background:#f3f3f3}
.c_gree{ color:#72bb33}
.c_white{ color:#fff}
.c_gray{color:#9a9a9a}
.c_red{color:#F00}
/* 
+++++++++++++++++++++++++++++++   style    ++++++++++++++++++++++++++++++++++++
*/
.main_header .content .left_1 .sIcon,.main_header .content .right1,.login_content .right1 .inputIcon1,.pass_content .textBox .inputIcon1,.pass_content .textBox .inputIcon2,.login_content .right1 .inputIcon2,.main_footer .content .leftPhone,.login_content .left2 .p_icon,.ad_contentTop .icon-face,.pass_contentTop .icon-face,.AD_ontent .topBg,.main_footer .footerImg .content .loginBox .icon,.main_header .content .right5 .icon,.login_content .topT .icon,.login_content .right .phoneBox .phoneIcon,.login_content .right .phoneBox .addressIcon,.login_content .right .topBg,.login_content .left .info .logoT_dBox .logoT_top .icon,.login_content .left .info .logoT_dBox .logoT_down .icon,.main_footer .tBox .p_icon,.main_footer .tBox .loginBox .icon,.logoTabs li .weixin_icon,.logoTabs li .phone_icon{background:url(img/login_2x.gif) no-repeat; }
.main_header .content .left_1 .sIcon{background-position:0px 0px; width:28px; height:32px;margin:10px auto;_margin:10px 0 0 8px;}
.main_header .content .right1{background-position:-30px 0; width:30px; height:32px; margin:24px 0px 0 0; position:relative; z-index:13}
/******header*****/
	.main_footer .content .leftPhone{ background-position:-130px 0; width:35px; height:61px;}
	.main_footer .content .leftT a{ color:#fff;}
	.main_footer .footerImg .content .loginBox .icon,.main_footer .tBox .loginBox .icon{ background-position:-62px -30px;}
/******footer*****/
	.login_content .left1 .loginBox{background:#fff;}
	.login_content .right1{background:#fff;}
	#logo_tabbox{ width:100%; height:auto; overflow:hidden; margin:0 auto; background:#fff }
	.logoTab_conbox{ height:100%}
	.logoTab_con{/* display:none;*/}
	.logoTabs{height: 71px;width: 100%; text-align:center; border-bottom:#72bb33 4px solid;font-size:28px;}
	.logoTabs li{height:70px;width:49.8%;line-height:70px;float:left;background:#fefefe url(img/top_bgw.png) repeat-x;overflow: hidden;position: relative; cursor:pointer; color:#4c4c4c; border-top:#eee 1px solid}
	.logoTabs li .tab1{ width:105px; margin:0 auto}
	.logoTabs li .tab2{ width:115px; margin:0 auto}
	.logoTabs li .weixin_icon{ background-position:-230px 1px; width:45px; height:63px}
	.logoTabs li .phone_icon{background-position:-238px -62px; width:30px; height:70px}
	
	.logoTabs .logoThistab,.logoTabs .logoThistab hover{background:#eafcda url(img/login_topBg.png) repeat-x;color:#72bb33}
	.logoTab_con {padding:12px;line-height:175%; border-bottom:#f3f3f3 3px solid; border-right:#f3f3f3 3px solid; border-left:#f3f3f3 3px solid;}
	/* login选项卡 */	
	.login_content .right1 .inputBox,.pass_content .inputBox{border:5px #d7d7d7 solid; background:#fff;}
	.login_content .right1 .inputIcon1,.pass_content .textBox .inputIcon1{ background-position:-33px -30px;}
	.login_content .right1 .inputIcon2,.pass_content .textBox .inputIcon2{ background-position:0px -30px;}
	.pass_content .textBox .inputIcon2{ background-position:-1px -30px;}
	.login_content .right1 .loginBtn,.pass_content .textBox .loginBtn{ background:#69ac2f; color:#fefefe;text-shadow:1px 1px 1px #a8a8a8;}
	.login_content .right1 .loginBtn1,.pass_content .textBox .loginBtn1{ background:#d5d5d5; color:#5d5d5d;}
	.login_content .right1 .loginBtn_getPass{background:#69ac2f; color:#fefefe; margin-right:17%}
	.login_content .left2 .p_icon,.main_footer .tBox .p_icon{ background-position:-62px 0;}
#goTopBtn{background:url(img/toTop.gif) no-repeat 0 0;}
#goTopBtn:hover{background:url(img/toTop.gif) no-repeat -88px 0;}
/* 
+++++++++++++++++++++++++++++++   login    ++++++++++++++++++++++++++++++++++++
*/
/* 
+++++++++++++++++++++++++++++++   ad  ++++++++++++++++++++++++++++++++++++
*/
	.main_header .content .right4{ padding:6px 10px;background:#72bb33; color:#fff}
	.main_header .content .right4:hover{background:#418506; color:#fff}
.ad_contentTop .icon-face,.pass_contentTop .icon-face{ background-position:-166px 0;}
	.AD_ontent .topBg,.login_content .right .topBg{ background-position:0 -65px;}
	.AD_ontent .topLine{}
	/**Focus picture PC**/
	.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} 
	.flexslider .slides img {max-width:760px;max-height:360px;_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<360?"360px":"");_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<760?"760px":""); }
	.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
	.flexslider {margin: 0 auto; position: relative; width:960px;height: 360px; overflow:hidden; zoom: 1; text-align:center; background:#E8FFE8}
	.flex-viewport {max-height: 360px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
	.flex-direction-nav {*height: 0;}
	.flex-direction-nav a {width: 60px; height: 90px; margin: -60px 0 0; display: block; background:#ccc url(img/ad_ctr.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0.2; filter:alpha(opacity=20); -webkit-transition: all .3s ease;}
	.flex-direction-nav .flex-next {background-position: 0 -90px; right: 0; }
	.flex-direction-nav .flex-prev {left: 0;}
	.flexslider:hover .flex-next {opacity: 0.75;filter:alpha(opacity=75); }
	.flexslider:hover .flex-prev {opacity: 0.75;filter:alpha(opacity=75);}
	.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;filter:alpha(opacity=100);}
	.flex-control-nav {width: 100%; position: absolute; bottom: 10px; text-align: center;}
	.flex-control-nav li {margin: 0 5px; display: inline-block; zoom: 1; *display: inline;}
	.flex-control-paging li a {background: url(img/dot.png) no-repeat 0 -16px; display:block; height: 16px; overflow: hidden; text-indent:-99em; width: 16px; cursor: pointer; }
	.flex-control-paging li a.flex-active { background-position: 0 0; }
	/**Focus picture PHONE**/
	.swiper-container {max-width:960px;width:100%; overflow:hidden; color: #fff;text-align: center;}
	/*.swiper-wrapper,.swiper-slide {width:100%; height:auto}*/
	
	.swiper-container,.swiper-container .swiper-wrapper,.swiper-container .swiper-wrapper .swiper-slide{width:100%; height:auto}
	
	.pagination { position: absolute; z-index: 20002;top: 15px; width:100%; text-align:center}
	.swiper-pagination-switch {display: inline-block; width: 10px;height: 10px;border-radius: 10px;background: #ababab; margin-right: 15px; opacity: 0.8;cursor: pointer;}
	.swiper-visible-switch { background: #aaa;}
	.swiper-active-switch {background: #72bb33;}

	/**Focus picture over**/
/* 
+++++++++++++++++++++++++++++++   /ad  ++++++++++++++++++++++++++++++++++++
*/
/* 
+++++++++++++++++++++++++++++++   home  ++++++++++++++++++++++++++++++++++++
*/
	.main_header .content .right5 .icon,.login_content .topT .icon{ background-position:0 -90px}
	.login_content .right .phoneBox .phoneIcon{ background-position:-118px -65px;}
	.login_content .right .phoneBox .addressIcon{ background-position:-174px -65px;}
	.login_content .left .info .logoT_dBox .logoT_top .icon{ background-position:-32px -90px;}
	.login_content .left .info .logoT_dBox .logoT_down .icon{background-position:-62px -90px;}
/* 
+++++++++++++++++++++++++++++++   /home  ++++++++++++++++++++++++++++++++++++
*/
