@charset "utf-8";

body,html,h1,h2,h3,h4,h5,h6,p,ul,ul li,dl,dt,dd,th,td,form,object,iframe,blockquote,pre,a,abbr,address,code,img,fieldset,form,label,figure{margin:0;padding:0;}

body,html,input,button,textarea,select{color:#666;font:14px/1.5 "Microsoft YaHei","微软雅黑",Arial,Tahoma,simsun,Verdana,Helvetica, sans-serif;}

body,html{-webkit-text-size-adjust:none;width:100%;height:100%;position:relative;}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block;}

img{border:none;vertical-align:middle;}

ul li{list-style:none;}

i,em{font-style:normal;}

a{color:#666;text-decoration:none;}

a:active,a:focus{color:#333;}

input[type="text"]:focus,input[type="submit"]:focus,input[type="button"]:focus,textarea:focus,.checkbox:checked,.checkbox:focus,.selectbox:focus{outline:none;}

input[type="button"],input[type="reset"],input[type="submit"],select,.checkbox,.selectbox{-webkit-appearance:none;}

input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;}

input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,

input[type="file"] > input[type="button"]::-moz-focus-inner{border:none;padding:0;}

::-webkit-input-placeholder{color:#999;}

:-moz-placeholder{color:#999;}

::-moz-placeholder{color:#999;}

:-ms-input-placeholder{color:#999;}



/* 清除浮动 */

.clearfix:after{content:"";height:0;display:block;clear:both;visibility:hidden;}



/* 布局 */

.wrapper{ width:100%;overflow:visible;position:relative;min-height:100%;}

.body-mask{vertical-align:middle;width:100%;height:100%;position:absolute;left:0;top:0;background:rgba(0,0,0,0.5);z-index:8888;display:none;}

.foot-space{height:6em;}



/* 盒模型 */

*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}



/* 字体大小 */

.index-wrap .address{font-size:0.8em;}

.success-tips,.enter-link,.pop-wrap h4,.btn-weixin,.btn-phone{font-size:1.2em;}

.index-wrap .title,.index-wrap .btn-go{font-size:1em;}

.index-wrap .tel{font-size:1.8em;}



/* logo */

.logo,.logo a{display:block;width:11em;height:11em;margin:0 auto;border:0.45em solid rgba(255,255,255,0.4);border-radius:50%;overflow:hidden;}

.logo{box-shadow:0 0 3px rgba(0,0,0,0.5);}

.logo img{width:100%;height:100%;border-radius:50%;}



/* ======================================= 

   首页

   */	
.index-wrap2{width:100%;position:fixed;margin-left:auto; margin-right:auto; text-align:center;z-index:3333;padding:12em 0 0;}

.index-wrap2,.index-wrap2 a{color:#fff;}

.index-wrap2 .logo{font-size:0.8em;}

.index-wrap2 .logo,.index-wrap .address{margin:0 auto 1.5em;}

.index-wrap2 .title{margin-bottom:1em;font-weight:900;}

.index-wrap2 .address{display:block;opacity:0.8;font-style:normal;margin:0 auto 3em;}

.index-wrap2 .tel{display:block;width:95%;margin:0 auto 1em;border-radius:0.2em;border:2px solid rgba(255,255,255,0.6);font-weight:bold;}

.index-wrap2 .btn-go{display:block;width:60%;margin:0 auto;height:2.3em;line-height:2.3em;border-radius:0.3em;background:#e94a15;text-shadow: 1px 1px 3px rgba(0,0,0,0.6); font-size:1.0em;}
.index-wrap{width:100%;position:fixed;margin-left:auto; margin-right:auto; bottom:5em; text-align:center;z-index:3333;padding:2em 0 0;}

.index-wrap,.index-wrap a{color:#fff;}

.index-wrap .logo{font-size:0.8em;}

.index-wrap .logo,.index-wrap .address{margin:0 auto 1.5em;}

.index-wrap .title{margin-bottom:1em;font-weight:900;}

.index-wrap .address{display:block;opacity:0.8;font-style:normal;margin:0 auto 3em;}

.index-wrap .tel{display:block;width:95%;margin:0 auto 1em;border-radius:0.2em;border:2px solid rgba(255,255,255,0.6);font-weight:bold;}

.index-wrap .btn-go{display:block;width:60%;margin:0 auto;line-height:2.4em;border-radius:0.3em;background:#e94a15;text-shadow: 1px 1px 3px rgba(0,0,0,0.6); font-size:1.2em;}

.index-foot{width:100%;position:absolute;left:0;bottom:0;background:rgba(0,0,0,0.5);text-align:center;padding:0.5em;color:#a09d9d;text-align:center;z-index:999;}	

.slide-photos{position:absolute;overflow:hidden;z-index:222;left:0;top:0;}

.slide-photos,.slide-photos .slides,.slide-photos .slides li,.flex-viewport{width:100%;height:100%;background-position:center 0;background-repeat:no-repeat;}

.slide-photos .slides li{float:left;background-position:center 0;background-repeat:no-repeat;background-size:100% 100%;}

.slide-photos .slides img{width:100%;display:block;}

.slide-photos .slides li{display:none;}

.slide-photos .flex-control-nav{width:100%;text-align:center;position:absolute;left:0;bottom:2em;z-index:9999;padding:0;}

.slide-photos .flex-control-nav li{display:inline;padding:0 4px;}

.slide-photos .flex-control-nav li a{display:inline-block;width:0.5em;height:0.5em;background:rgba(255,255,255,1);text-indent:-9999em;overflow:hidden;border-radius:50%;box-shadow:1px 1px rgba(255,255,255,0.3);}

.slide-photos .flex-control-nav li a.flex-active{background:rgba(0,0,0,0.3);border:1px solid rgba(255,255,255,1);}



/* ======================================= 

   成功上网

   */  

.success-body{display:table;width:100%;height:100%;background:url(../img/success_body_bg.jpg) center 0 no-repeat;background-size:100% 100%;position:relative;}

.success-wrap{display:table-cell;width:100%;height:100%;vertical-align:middle;padding:0 0 3em;}

.success-wrap .logo{margin:0 auto 3.5em;}

.success-wrap .success-tips{display:block;width:13em;line-height:2.2em;padding:0 0 0 1.5em;max-width:90%;background:#fff;position:relative;border-radius:0.3em;margin:0 auto;}

.success-wrap .success-tips,.success-wrap .success-tips a{color:#010101;}

.success-wrap .success-tips:before{display:inline-block;content:"";width:2em;height:2em;background:url(../img/ico_tick.png) center center no-repeat;background-size:100% auto;vertical-align:middle;margin:0 0.8em 0 0;}

.success-wrap .enter-link,.success-wrap .enter-link a{color:#fff;}

.success-wrap .enter-link{padding:2em 0;text-align:center;}

.success-wrap .enter-link a:after{content:">>>";padding:0 0 0 0.3em;letter-spacing:-0.1em;}

.success-foot{width:100%;position:absolute;left:0;bottom:1em;color:#a09d9d;text-align:center;}





/* ======================================= 

   弹窗

   */  

.pop-wrap{position:fixed;left:0;top:50%;margin-top:-15em;width:100%;z-index:9999;height:1px;overflow:visible;display:none;}

.pop-main{border-radius:0.6em;border:0.3em solid rgba(255,255,255,0.4);text-align:center;z-index:99999;width:82%;max-width:440px;margin:10px auto;position:relative;}

.pop-main .pop-main-in{ background:#fff;padding:1.0em 1em;border-radius:0.35em;box-shadow:0 0 3px rgba(0,0,0,0.6);}

.pop-main .icon-close{display:block;width:1.8em;height:1.8em;border-radius:50%;border:0.12em solid rgba(0,0,0,0.2);position:absolute;right:0.7em;top:0.7em;background:url(../img/ico_close.png) center center no-repeat;background-size:100% auto;}

.pop-main h4{font-weight:normal;padding:0 0 0.5em;color:#000;}

.pop-main .qr-code-img{padding:0 0 0.4em;}

.pop-main .qr-code-img img{display:block;width:60%;margin:0 auto;}

.pop-main .qr-code-txt{width:70%;margin:0 auto;font-size:12px;padding:0 0 1em;font-family:simsun;word-break:break-all;}

.btn-weixin,.btn-phone{display:block;width:60%;margin:0.8em auto 0;border-radius:0.3em;color:#fff;padding:0.5em 0;}

.btn-weixin{background:#44b549;}

.btn-phone{background:#173c80;}





/* ======================================= 

   自适应

   */     

@media screen and (min-width:980px){

body,html,input,button,textarea,select{font-size:22px;}

.index-wrap .address{font-size:14px;}

.pop-main h4{font-size:20px;}

}

@media screen and (min-width:640px) and (max-width:980px){

body,html,input,button,textarea,select{font-size:20px;}

.index-wrap .address{font-size:14px;}

.pop-main h4{font-size:20px;}

}

@media screen and (min-width:400px) and (max-width:640px){

body,html,input,button,textarea,select{font-size:18px;}

.index-wrap .address{font-size:14px;}

.pop-main h4{font-size:20px;}

}

@media screen and (max-width:400px){

body,html,input,button,textarea,select{font-size:14px;}

.index-wrap .address{letter-spacing:-0.1em;}

.index-wrap .address{font-size:12px;}

.pop-main h4{font-size:16px;}

.pop-main .qr-code-txt{width:80%;}

}